body
{
    margin: 0;
    padding: 0;
}

body, input, button
{
    font-family: 'Open Sans', sans-serif;
}

::selection
{
    background-color: #FFCDD2;
    color: #B71C1C;
}

button
{
    cursor: pointer;
}

#menu
{
    text-align: right;
    background: #F44336;
}

#changeTag
{
    background: #F44336;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
    color: #FFCDD2;
    text-shadow: 0 0 3px #ff0000;
    float: right;
}

#changeTag:hover
{
    background: #EF5350;
}

#changeTag:active
{
    background: #B71C1C;
}

#changeTag:focus
{
    outline: none;
}

#div-tag
{
    text-align: center;
}

#form-tag
{
    display: inline-block;
}

#tag
{
    margin-top: 100px;
    border: none;
    font-size: 70pt;
    border-bottom: 6px solid #ddd;
    text-align: center;
}

#tag:focus
{
    outline: none;
    border-bottom: 6px solid #111;
}

#ok
{
    background: #fff;
    border: none;
    margin: 30px;
    padding: 70px 60px;
    color: #111;
    font-size: 70pt;
    text-shadow: 0 0 30px #eee;
    border-radius: 300px;
}

#ok:hover
{
    background: #eee;
    box-shadow: inset 0 0 100px #ccc;
}

#ok:active
{
    color: red;
}

#ok:focus
{
    outline: none;
}